@import url('https://fonts.googleapis.com/css2?family=poppins;wght@400;700&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: goldenrod;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    
}

.navbar {
    background: black;
    color: goldenrod;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: rgb(70, 68, 65);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    background-color:goldenrod;
    color: black;
    min-height: 300px;
}

.header h1 {
    font-family: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img {
    max-width: 400px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.boxes .container{
    display: flex;
    justify-content: space-between;
    background: goldenrod;
}

.box {
    flex: 1;
    background: black;
    color: goldenrod;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(218, 165, 32);
    padding: 15px 20px;
}

h3 {
    color: white;
}
